@charset "UTF-8";
/*HTML Index*/
.mainIndex {
  background-image: -webkit-gradient(linear, left top, right top, from(darkred), to(red));
  background-image: linear-gradient(to right, darkred, red);
}

.mainIndex .section1Banner {
  padding: 15px 0 15px 0;
  /* background-image: radial-gradient(red,rgb(114, 6, 6));; */
  /* background-image: url(../img/img_pruebas/fondo-madera.jpg);
        background-size: cover;
        background-position: center; */
  /* height: 70vh; */
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainIndex .section1Banner p {
  width: 70%;
  font-size: 15px;
  font-weight: lighter;
  text-align: center;
  padding-top: 20px;
  margin: auto;
  color: white;
}

.mainIndex .section1Banner .premio {
  font-family: 'Playfair Display', serif;
  /* background-color: white; */
  text-align: center;
  /* margin: auto; */
  margin: 25px 0 15px 0;
  font-size: 20px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  width: 70%;
  border-radius: 5%;
  border: double 3px white;
  padding: 10px 0 10px 0;
  /* box-shadow: 10px 0px 3px rgb(82, 1, 1); */
}

.mainIndex .section1Banner .premio:hover {
  -webkit-transform: scale(1.15, 1.15);
          transform: scale(1.15, 1.15);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.mainIndex .botonera {
  padding: 15px 0 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  /* background-image: url(../img/img_pruebas/fondo-metalico.jpg); */
  /* background-image: linear-gradient(to right, darkred, red); */
  border-top: dotted 3px white;
}

.mainIndex .botonera h2 {
  margin-bottom: 30px;
}

.mainIndex .botonera a {
  font-size: 23px;
  margin: 10px;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.mainIndex .botonera a:hover {
  -webkit-transform: scale(1.15, 1.15);
          transform: scale(1.15, 1.15);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.mainIndex .beneficiosYvideo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.mainIndex .beneficiosYvideo .section3Beneficios {
  /* background-image: url(../img/img_pruebas/carton.jpg); */
  margin-bottom: 30px;
  border-top: dotted 3px white;
}

.mainIndex .beneficiosYvideo .section3Beneficios h2 {
  padding: 15px 0 15px 0;
}

.mainIndex .beneficiosYvideo .section3Beneficios .beneficios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.mainIndex .beneficiosYvideo .section3Beneficios .beneficios img {
  margin: 10px 0 10px 0;
  width: 150px;
  -webkit-box-shadow: 10px 3px 1px black;
          box-shadow: 10px 3px 1px black;
}

.mainIndex .beneficiosYvideo .section3Beneficios .beneficios img:hover {
  -webkit-transform: scale(1.08, 1.08);
          transform: scale(1.08, 1.08);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.mainIndex .beneficiosYvideo aside {
  border-top: dotted 3px white;
  /* background-image: url(../img/img_pruebas/carton.jpg); */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainIndex .beneficiosYvideo aside h2 {
  padding: 15px 0 15px 0;
}

.mainIndex .beneficiosYvideo aside iframe {
  width: 250px;
  margin: 10px 5px 10px 5px;
  border-radius: 3%;
  -webkit-box-shadow: 8px 2px 3px darkred;
          box-shadow: 8px 2px 3px darkred;
}

.mainIndex .section2Novedades {
  border-top: dotted 3px white;
  /* background-image: url(../img/img_pruebas/carton.jpg); */
}

.mainIndex .section2Novedades h2 {
  padding: 20px;
}

.mainIndex .section2Novedades .contenedorNovedades {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainIndex .section2Novedades .contenedorNovedades a {
  width: 300px;
  margin: 10px 0 10px 0;
}

.mainIndex .section2Novedades .contenedorNovedades a img {
  width: 300px;
  border-radius: 4%;
}

/*---------------------------------------------*/
/*Media Queries*/
/*pantallas medias y grandes*/
@media only screen and (min-width: 768px) {
  .contenedorCarousel {
    width: 100%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(red), to(black));
    background-image: linear-gradient(to bottom, red, black);
  }
  .carousel {
    width: 768px;
    margin: auto;
  }
}

/*HTML Menu*/
.item:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.mainMenu {
  text-align: center;
}

.mainMenu h1 {
  margin-top: 40px;
  font-size: 38px;
}

.mainMenu .indiceMenu {
  background-color: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50vh;
}

.mainMenu .indiceMenu div {
  margin: 0 50px 0 50px;
}

.mainMenu section h2 {
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.mainMenu section .burgers {
  /* background-color: hotpink; */
}

.mainMenu section .burgers h3 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.mainMenu section .burgers .burgers__linea {
  /* background-color: greenyellow; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.mainMenu section .burgers .burgers__linea .item img {
  width: 140px;
  margin-bottom: 15px;
}

.mainMenu section .burgers .burgers__linea .item p {
  font-size: 14px;
  width: 140px;
}

.mainMenu section .cafe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.mainMenu section .cafe .item img {
  width: 140px;
}

.mainMenu section .cafe .item p {
  font-size: 14px;
  width: 140px;
}

.mainMenu section .otros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.mainMenu section .otros img {
  border-radius: 4%;
  width: 140px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 0px 5px #5f5d5d;
          box-shadow: 0px 0px 5px #5f5d5d;
}

.mainLocales iframe {
  width: 300px;
  height: 250px;
}

.form-check {
  display: block;
  text-align: start;
}

.radio {
  display: block;
}

/*medio y grande*/
@media only screen and (min-width: 768px) {
  form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .datosPersonales, .tipoEvento, .servicios, .dondeCuando {
    width: 500px;
    margin: 10px;
    padding: 10px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

/*header*/
header {
  height: 60px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(red), to(darkred));
  background-image: linear-gradient(to bottom, red, darkred);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header a {
  height: 100%;
  display: inline-block;
}

header a .logo {
  font-family: 'Kanit', sans-serif;
  font-style: italic;
  display: inline-block;
  font-weight: bold;
  text-shadow: 6px 1px 1px black;
  margin-left: 10px;
  color: white;
  font-size: 36px;
}

header a .logo:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  text-shadow: 7px 2px 4px black;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

header nav {
  margin-right: 10px;
  display: inline-block;
  position: relative;
  top: 4px;
  right: 10px;
}

header nav ul {
  z-index: 1;
  display: none;
  text-align: center;
  width: 150px;
  position: absolute;
  right: -16px;
}

header nav ul li {
  margin-top: 4px;
  margin-bottom: 5px;
}

header nav ul li a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 23px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  background-color: white;
  -webkit-transform: skew(5deg, 5deg);
          transform: skew(5deg, 5deg);
  -webkit-box-shadow: 6px 3px 2px black;
          box-shadow: 6px 3px 2px black;
  display: inline-block;
  padding: 0 2px 0 2px;
}

header nav ul li a:hover {
  -webkit-transform: skew(-5deg, -5deg);
          transform: skew(-5deg, -5deg);
  -webkit-box-shadow: 16px 4px 3px black;
          box-shadow: 16px 4px 3px black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 0 2px 0 2px;
  color: black;
}

/*Footer*/
footer {
  text-shadow: 3px 1px 1px black;
  padding-top: 30px;
  text-align: center;
  color: white;
  font-size: 16px;
  background-color: #640606;
}

footer .contenidoFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  /*aplica a las 3 subsecciones footer*/
}

footer .contenidoFooter div {
  margin: 3px;
}

footer .contenidoFooter div h4 {
  padding-bottom: 10px;
}

footer .contenidoFooter div ul li {
  list-style: none;
  margin-top: 15px;
  position: relative;
  right: 10px;
}

footer .contenidoFooter div ul li a {
  color: white;
  text-decoration: none;
}

footer .derechos {
  width: 65%;
  border-top: solid 1px white;
  padding-top: 20px;
  margin: auto;
  padding-bottom: 30px;
}

footer .volverArriba {
  margin-bottom: 20px;
  display: inline-block;
  color: white;
  text-decoration: underline;
}

/*Media Queries*/
/*Pantalla chica*/
@media only screen and (max-width: 549px) {
  nav:hover ul {
    display: block;
    position: absolute;
    right: 2px;
    -webkit-transition: 1s;
    transition: 1s;
  }
  li {
    list-style: none;
  }
  li a {
    width: 100px;
    margin-top: 7px;
  }
  li li:hover a {
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
}

/*Pantalla mediana*/
@media only screen and (min-width: 550px) {
  body {
    background-color: blue;
  }
  /*menu hamburguesa se convierte en menu comun*/
  header {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  header a {
    position: relative;
  }
  header nav {
    display: inline-block;
    width: auto;
    height: auto;
  }
  header nav img {
    display: none;
  }
  header nav ul {
    position: relative;
    top: 15px;
    display: block;
    width: auto;
    border: none;
  }
  header nav ul li {
    display: inline-block;
    margin-right: 6vw;
    list-style: none;
  }
  header nav ul li a {
    font-size: 18px;
  }
}

/*Pantalla grande*/
@media only screen and (min-width: 768px) {
  body {
    background-color: purple;
  }
  .contenidoFooter--redes li {
    display: inline-block;
    margin: 10px;
  }
}

.circulo {
  width: 80vw;
  height: 80vw;
  background-color: white;
  margin: auto;
  border-radius: 50%;
  -webkit-box-shadow: 10px 2px 3px black;
          box-shadow: 10px 2px 3px black;
}

.circulo .tituloCirculo {
  font-size: 10vw;
  /* height: ;
        width:  ; */
  margin: auto;
  text-align: center;
}

/*Títulos*/
/* h1{
    @include titulos(fit-content,white,linear-gradient(to right, darkred, red),6vh);
}
h2{
    @include titulos(fit-content,white,linear-gradient(to right, darkred, red),5vh);
}
h3{
    @include titulos(fit-content,red,linear-gradient(to right, rgb(228, 225, 225), rgb(54, 7, 7)),4vh);
} */
h1, h2 {
  color: white;
  font-weight: bold;
  width: 70%;
  text-align: center;
  text-shadow: 5px 0 1px black;
  margin: auto;
}

/*Fonts*/
body {
  /* font-family: 'Kanit', sans-serif; */
}

/*Reseteo estilos*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: solid 1px #d6961f;
}
/*# sourceMappingURL=styles.css.map */