/*header*/
header{
    height: 60px;
    /* background-image: linear-gradient(to bottom, red, darkred); */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    /* background-color: white; */
    background-image: url(../img/img_pruebas/mesa-madera.jpg);
    background-size: cover;
    border-bottom: solid 1px rgb(185, 185, 123);
    a{
        height: 100%;
        display: inline-block;
        .logo{
            display: inline-block;
            color: $fondo;
            /* font-weight: bold; */
            margin-left: 10px;
            font-size: 30px;
            font-family: 'Pacifico', cursive;
            position: relative;
            top: 7px;

        }
        .logo:hover{
            transform: scale(1.1,1.1);
            transition: 0.2s;
        }
    }
    a:hover{
        color: $fondo-destaque;
    }
    nav{
        margin-right: 10px;
        display: inline-block;
        position: relative;
        top: 4px;
        right: 10px;
        img{
            box-shadow: none;
            background-color: $fondo;
        }
        ul{
        border-radius: $bordes-imagenes;
        width: 70vw;
        background-image: url(../img/img_pruebas/mesa-madera.jpg);
        z-index: 1;
        display: none;
        text-align: center;
        position: absolute;
        top: 60px;
        li{
            font-family: 'Pacifico', cursive;
            font-size: 19px;
            position: relative;
            right: 18px;
            width: 100%;
            a{
            margin: 3px;
            padding: 5px 0 5px 0;
            width: 100%;
            color: $fondo;
            } 
            a:hover{
                border-radius: $bordes-imagenes;
                color: white;
                background-color: $fondo-destaque;
                transition: 0.3s;
                z-index: 1;
            }
        }
        }
    }
}
/*Footer*/
footer{
    /* text-shadow: 3px 1px 1px black; */
    font-size: 13px;
    margin-top: 10px;
    padding-top: 30px;
    text-align: center;
    color: white;
    background-color: $fondo-footer;
    h4{
        font-size: 16px;
    }
    .contenidoFooter{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        /*aplica a las 3 subsecciones footer*/
        div{
            margin: 3px;
            h4{
                padding-bottom: 10px;
            }
            ul{
                li{
                    list-style: none;
                    margin-top: 15px;
                    position: relative;
                    right: 10px;
                    a{
                        color: white;
                        text-decoration: none;
                        img{
                            box-shadow: none;
                        }
                    }
                }
            }
        }
    }
    .derechos{
        width: 65%;
        border-top: solid 1px white;
        padding-top: 20px;
        margin:auto;
        padding-bottom: 30px;
    }
    .volverArriba{
        margin-bottom: 20px;
        display: inline-block;
        color: white;
        text-decoration: underline;
    }
}

/*Media Queries*/
/*Pantalla chica*/
@media only screen and (max-width: 549px) {
    nav:hover ul{
        display: block;
        position: absolute;
        right: 2px;
        transition: 1s  ;
    }
    nav{
        ul{
            li{
                list-style: none;
                a{
                    width: 100px;
                }
                li:hover a{
                    
                    transition: 0.2s;
                }
            }
        }
    }
}
/*Pantalla mediana*/
@media only screen and (min-width: 550px) 
        {
            body{
            }
            /*menu hamburguesa se convierte en menu comun*/
            header{
                justify-content: space-around;
            a{
                position: relative;
                
            }
            nav{
                display: inline-block;
                width: 70%;
                height: 90%;
                img{
                    display: none;
                }
                ul{
                    padding: 15px 0 0 35px;
                    height: 90%;
                    position:unset;
                    width: 100%;
                    /* position: relative;
                    top: 15px; */
                    display: block;
                    width: auto;
                    border: none;
                    background-image: none;
                    li{
                        padding: 0;
                        margin: 0;
                        width: fit-content;
                        display: inline-block;
                        margin-right: 6vw;
                        list-style: none;
                        a{
                            font-size: 18px;
                            margin: 0;
                            padding: 0;
                            color: $fondo;
                        }
                        a:hover{
                            background-color: unset;
                            color: $fondo-destaque;
                        }
                    }
                    li:hover{
                        background-color:unset;
                    }
                }
        }
        }
    }
/*Pantalla grande*/
@media only screen and (min-width: 768px) {
    .contenidoFooter--redes{
        li{
            display: inline-block;
            margin: 10px;
        }
    }
    }
