/*mixin*/
@mixin boxRoja {
    background-image: linear-gradient(to right, $fondo-destaque, rgb(247, 108, 73));
    border: double 8px $fondo;
}

/*HTML Index*/
.mainIndex{
    
    .contenedorCarousel{
        margin: 0px 0 20px 0;
        img{
            box-shadow: none;
        }
    }
    .section1Banner{
        padding: 15px 0 15px 0;
        height: fit-content;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        p{
            text-align:center;
            width: 70%;
        }
    }
    .botonera{
        padding: 30px 0 20px 0;
        width: 85%;
        border-radius: 5%;
        margin: auto;
        display: flex;
        flex-flow: column nowrap;
        height: fit-content;
        @include boxRoja;
        h2{
            font-size: 18px;
            width: 100%;
            color: $fondo;
        }
        a{
            margin: 10px;
            text-decoration: none;
            text-align: center;
            color: white;
        }
        a:hover{
            color: rgba(178, 255, 169, 1);
            transform: scale(1.1,1.1);
            transition: 0.3s;
        }
    }
    .beneficiosYvideo{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        .section3Beneficios{
            h2{
                padding: 15px 0 15px 0;
            }
            .beneficios{
                display: flex;
                flex-flow: row wrap;
                justify-content: space-around;
                img{
                    width:220px;
                    margin-top: 35px;
                }
                img:hover{
                    transform: scale(1.08,1.08);
                    transition: 0.3s;
                }
            }
        
        }  
        aside{
            width: 85%;
            border-radius: 5%;
            margin: 20px 0 20px 0;
            display: flex;
            flex-flow: column nowrap;
            height: fit-content;
            padding: 20px;
            @include boxRoja;
            h2{
                color: $fondo;
                width: 100%;
            }
            iframe{
                margin: auto;
                width: 100%;
            }
        }
    }
    .section2Novedades{
        h2{
            padding: 20px;
        }
        border-top: dotted 3px white;
        /* background-image: url(../img/img_pruebas/carton.jpg); */
        .contenedorNovedades{
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            
            a{
                width: 300px;
                margin: 10px 0 10px 0;
                img{
                    width: 300px;
                    border-radius: 4%;
                }
            }
        }
    }
}
.carouselNovedades{
    /* width: 240px; */
    margin: 5% 10% 5% 10%;
    img{
        box-shadow: none;
    }
    
}
/*---------------------------------------------*/
/*Media Queries*/
/*pantallas medias y grandes*/
@media only screen and (min-width: 768px) {
    .mainIndex{
        .section1Banner{
            p{
                width: 30%;
            }
        }
        .botonera{
            h2{
                font-size: 32px;
            }
            a{
                font-size: 26px;
            }
            width: 500px;
        }
        .contenedorCarousel{
            width: 100%;
            box-shadow: none;
        }
        .carousel{
            width: 768px;
            margin: auto;
        }
        .beneficiosYvideo{
            display: flex;
            flex-flow: row wrap;
            justify-content:space-around;
            align-items: center;
            .section3Beneficios{
                width: 45%;
                a{
                    img{
                        margin: 20px;
                    }
                }
            }
            aside{
                width: 45%;
                height: 500px;
                iframe{
                    height:80%;
                }
            }
        }
        .carouselNovedades{
            box-shadow: unset;
            .carousel{
                width: 40%;
                box-shadow: $sombras-parametros $sombras;
                border-radius: $bordes-imagenes; 
            }
        }
}
}

