.circulo{
    width: 80vw;
    height: 80vw;
    background-color: white;
    margin: auto;
    border-radius: 50%;
    box-shadow: 10px 2px 3px black;
    .tituloCirculo{
        font-size: 10vw;
        /* height: ;
        width:  ; */
        margin: auto;
        text-align: center;
    }
}