$fondo: rgb(253, 215, 145);
$fondo-destaque: rgb(253, 225, 171);
$color-fonts: rgb(141, 107, 43);
$color-links: rgb(211, 156, 53);
$sombras: rgb(83, 73, 44);
$sombras-parametros: 0 0 10px;
$bordes-imagenes: 5%;
$margenes-titulos2: 10px;
$margenes-titulos1: 20px;
$mergenes-secciones: 25px;

