@import "variables";
@import "index";
@import "menu";
@import "locales";
@import "eventos";
@import "header-footer";

/*Fonts*/



/*Estilos generales*/
body{
    font-family: 'Poppins', sans-serif;
    background-color: $fondo;
    main{
        color: $color-fonts;
    }
    a{
        color: $color-links;
        text-decoration: none;
    }
    img, iframe{
        border-radius: $bordes-imagenes;
        box-shadow: $sombras-parametros $sombras;
    }
    li{
        list-style: none;
    }
    section{
        margin: $margenes-secciones 0 $margenes-secciones 0;
    }
    h1{
        text-align: center;
        margin: 0 auto 20px auto;
        width: 60%;
    }
    h2{
        /* margin-top: 30px; */
        text-align: center;
        width: 60%;
        margin: 0 auto 20px auto;

    }
    h3{
        font-size: 19px;
    }
}
/*Reseteo estilos*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: solid 1px rgb(214, 150, 31);  */  
}











